<div class="main-wrapper">
    <div>
      <mat-form-field>
        <input matInput placeholder="Cypher" [formControl]="cypherFC">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Seed number" [formControl]="seedFC">
      </mat-form-field>
      <button mat-raised-button [disabled]="formArray?.invalid" (click)="setDecrypt()">Decrypt</button>
    </div>
    <div *ngIf="result">
      Plaintext:  {{result}}
    </div>
    <div *ngIf="error">
        Error: {{error.status}} - {{error.error}}
      </div>
  </div>