<mat-toolbar color='primary'>Rekry2018</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Encrypt">
    <encrypt (logdata)=" data = $event "></encrypt>
  </mat-tab>
  <mat-tab label="Decrypt">
    <decrypt (logdata)="data = $event"></decrypt>
  </mat-tab>
</mat-tab-group>
<div class="datatable-wrapper">
  <log-datatable [data]="data"></log-datatable>
</div>