<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="ID">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.logId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="TYPE">
    <mat-header-cell *matHeaderCellDef mat-sort-header> TYPE </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.logType}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="REQUEST">
    <mat-header-cell *matHeaderCellDef mat-sort-header> REQUEST </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.logBefore}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="RESPONSE">
    <mat-header-cell *matHeaderCellDef mat-sort-header> RESPONSE </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.logAfter}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="SEED">
    <mat-header-cell *matHeaderCellDef mat-sort-header> SEED </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.logSeed}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>