<div class="main-wrapper">
  <div>
    <mat-form-field>
      <input matInput placeholder="Plain text" [formControl]="plaintextFC">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Seed number" [formControl]="seedFC">
    </mat-form-field>
    <button mat-raised-button [disabled]="formArray?.invalid" (click)="setEncrypt()">Encrypt</button>
  </div>
  <div *ngIf="result">
    Cypher:  {{result}}
  </div>
  <div *ngIf="error">
      Error: {{error.status}} - {{error.error}}
    </div>
</div>